.note-page-container {
    width: 640px;
    height: 640px;
    padding: 40px;
    background: wheat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.note-page-text {
    width: 100%;
    height: 100%;
}

.note-buttons-container {
    display: flex;
    justify-content: space-between;
}